<table class="table">
    <thead>
      <tr>
        <th scope="col" [style.width]="'10%'">#</th>
        <th scope="col" [style.width]="'15%'">Фамилия</th>
        <th scope="col" [style.width]="'15%'">Имя</th>
        <th scope="col" [style.width]="'15%'">Возраст</th>
        <th scope="col" [style.width]="'15%'">Отдел</th>
        <th scope="col" [style.width]="'20%'">
            <button class="btn btn-primary">
                Добавить пользователя
            </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let worker of workers">
        <th scope="row"> {{worker.id}} </th>
        <td> {{worker.surname}} </td>
        <td> {{worker.name}} </td>
        <td> {{getAge(worker.birthday)}} </td>
        <td> {{getDepartment(worker.type)}} </td>
        <td>
            <button class="btn btn-primary mr-3">Изменить</button>
            <button class="btn btn-danger ml-1">Удалить</button>
        </td>
      </tr>
    </tbody>
  </table>